.background_container {
  background-color: #fafcff;
}

.content_inti {
  padding: 40px 0;
}

.content_right {
  background-color: white;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

/* Start Loading */
.lds-ring {
  display: flex;
  position: relative;
  width: 80px;
  height: 26px;
  justify-content: center !important;
  align-items: center !important;
  left: 150px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  margin: 8px;
  border: 3px solid #f8f9fa;
  border-radius: 68%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #f8f9fa transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* End Loading */

.title_password {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #3a3d42;
}

.title_desc {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #7a7886;
  margin-top: 20px;
  width: 60%;
}

.password {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1.5px solid rgba(169, 169, 169, 0.6);
  margin-top: 40px;
  padding-bottom: 10px;
  color: #a9a9a9;
  width: 50%;
}

.password > i {
  font-size: 20px;
  /* color: #A9A9A9; */
  text-align: center;
  padding-left: 5px;
}

.password > input {
  width: 100%;
  margin-left: 20px;
  border: none;
}

.password > input:focus {
  outline: none;
}

.password_blue {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1.5px solid #6379f4;
  margin-top: 40px;
  padding-bottom: 10px;
  color: #6379f4;
  width: 50%;
}

.password_blue > i {
  font-size: 20px;
  /* color: #A9A9A9; */
  text-align: center;
  padding-left: 5px;
}

.password_blue > input {
  width: 100%;
  margin-left: 20px;
  border: none;
}

.password_blue > input:focus {
  outline: none;
}

.password_red {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1.5px solid red;
  margin-top: 40px;
  padding-bottom: 10px;
  color: red;
  width: 50%;
}

.password_red > i {
  font-size: 20px;
  /* color: #A9A9A9; */
  text-align: center;
  padding-left: 5px;
}

.password_red > input {
  width: 100%;
  margin-left: 20px;
  border: none;
}

.password_red > input:focus {
  outline: none;
}

.content_password {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.button_change_password {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.button_change_password > button {
  width: 50%;
  height: 50px;
  border: none;
  background: #dadada;
  box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
  border-radius: 12px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #88888f;
}

.button_change_password > button:hover {
  background-color: #6379f4;
  color: white;
}

@media screen and (max-width: 768px) {
  .content_right {
    width: 100%;
  }
  .password {
    width: 100%;
  }
  .password_blue {
    width: 100%;
  }
  .password_red {
    width: 100%;
  }
}

@media screen and (max-width: 428px) {
  .password {
    width: 100%;
  }
  .password_blue {
    width: 100%;
  }
  .password_red {
    width: 100%;
  }
  .button_change_password > button {
    width: 100%;
  }
}
